In [1]:
!pwd

/Users/Gilles/Document_loc/Python_Notebooks/movierecommendations-master

In [2]:
from movie_recommender import *

In [3]:
print("enter your movie")
print("""exemples:
        Wolverine, The (2013)
        Magnificent Seven, The (1960)
        True Grit (2010)
        Lord of the Rings: The Two Towers, The (2002)
        Dark Knight, The (2008) 
            """)
movie = input()

enter your movie
exemples:
        Wolverine, The (2013)
        Magnificent Seven, The (1960)
        True Grit (2010)
        Lord of the Rings: The Two Towers, The (2002)
        Dark Knight, The (2008)

Dark Knight, The (2008)

In [4]:
content_tag_recommender(movie)

7436                                  Batman Begins (2005)
9479                         Dark Knight Rises, The (2012)
9695        Batman: The Dark Knight Returns, Part 1 (2012)
9737        Batman: The Dark Knight Returns, Part 2 (2013)
9096                     Batman: Under the Red Hood (2010)
557                                          Batman (1989)
8450                                       Watchmen (2009)
2851                   Batman: Mask of the Phantasm (1993)
9442                               Batman: Year One (2011)
7364                                       Sin City (2005)
7108             Batman Beyond: Return of the Joker (2000)
7096                     Batman/Superman Movie, The (1998)
7704                                 V for Vendetta (2006)
8171                                   3:10 to Yuma (2007)
8380                                       Iron Man (2008)
3153                                      Gladiator (2000)
7879                                  Departed, The (2006)
9410                                        Warrior (2011)
8338              Justice League: The New Frontier (2008)
5416                               X2: X-Men United (2003)
10148                       Guardians of the Galaxy (2014)
929                                        Die Hard (1988)
6385                Infernal Affairs (Mou gaan dou) (2002)
4805                              Road to Perdition (2002)
9406                                  Avengers, The (2012)
3346                                          X-Men (2000)
6621                                   Spider-Man 2 (2004)
1929                              Untouchables, The (1987)
3827                         Magnificent Seven, The (1960)
9334                             X-Men: First Class (2011)
1126                                     Unforgiven (1992)
2623                                     Fight Club (1999)
5033           Professional, The (Le professionnel) (1981)
8026                                            300 (2007)
9089                                      Inception (2010)
4705                                     Spider-Man (2002)
9720                               Django Unchained (2012)
302                       Shawshank Redemption, The (1994)
8943                   Hellsing Ultimate OVA Series (2006)
766                                  Godfather, The (1972)
9921                                           Rush (2013)
6692                                     Collateral (2004)
5                                              Heat (1995)
9874         Justice League: The Flashpoint Paradox (2013)
2903                           Boondock Saints, The (2000)
10102                    X-Men: Days of Future Past (2014)
10165                     Batman: Assault on Arkham (2014)
6499                           Escape from Alcatraz (1979)
8470                          Batman: Gotham Knight (2008)
1064     Good, the Bad and the Ugly, The (Buono, il bru...
Name: title, dtype: object

In [5]:
print("enter your viewer ID: (exemples 1 4 248 300)")
viewer = input()

enter your viewer ID: (exemples 1 4 248 300)
4

In [6]:
viewer = int(viewer)
collaborative_recommender(viewer,movie)

                                  title
302    Shawshank Redemption, The (1994)
9089                   Inception (2010)
9406               Avengers, The (2012)
10141                   Whiplash (2014)
9479      Dark Knight Rises, The (2012)

In [7]:
print("enter your viewer ID exemples 1 4 248 300")
viewer = input()

enter your viewer ID exemples 1 4 248 300
1

In [8]:
viewer = int(viewer)
collaborative_recommender(viewer,movie)

                                                title
9089                                 Inception (2010)
9406                             Avengers, The (2012)
2270                               Matrix, The (1999)
10102               X-Men: Days of Future Past (2014)
9737   Batman: The Dark Knight Returns, Part 2 (2013)

In [9]:
print("enter your viewer ID: (exemples 1 4 248 300)")
viewer = input()

enter your viewer ID: (exemples 1 4 248 300)
248

In [10]:
viewer = int(viewer)
collaborative_recommender(viewer,movie)

                                             title
10141                              Whiplash (2014)
6385        Infernal Affairs (Mou gaan dou) (2002)
7593                                     Babylon 5
5033   Professional, The (Le professionnel) (1981)
9917                              Prisoners (2013)

In [11]:
# end

In [12]:
a=['Dark Knight, The (2008)  ']

In [13]:
a[0]

'Dark Knight, The (2008)  '

In [14]:
print(movie)

Dark Knight, The (2008)